body {
    /* height: 100vh; */
    background-color: #2c3e50;
    /* margin: 10px 0px; */
}
.navbar {
    margin-bottom: 20px;
    padding: 0px 20px;
}
.title-header {
    text-align: center;
    color: white;
    margin-bottom: 30px;
}
.container {
    margin-top: 50px;
}
.card{
    border: 0;
}
.card1 {
    margin-right: 10px;
}

.card-body-img {
    padding: 0;
}
.card-body-img img {
    border-radius: 0px;
}
.card-body-img .card-title{
    padding: 20px 16px 10px 16px;
}

.play_button {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}
iframe {
    margin-top: 20px;
    margin-bottom: -15px;
    max-width: 99vw;
}

.guess-select{
    display: inline;
    width: auto;
}
.guess-input-container{
    text-align: center;
    margin-top: 20px;
    margin-left: -10px;
}
.guess-input{
    width: 170px;
    display: inline;
}
.guess-input-group {
    margin: 20px;
}  
.guess-input-group button{
    margin-top: -3px;
}
.alert-hint {
    margin-top: 20px;
    display: inline;
    margin-left: 20px;
}
.border-hint{
    border: 1px solid black;
}
.card-footer h5 {
    display: inline;
}
.next , .show-card{
    margin-top: -7px;
    margin-bottom: 10px;
}
.show-card{
    margin-right: 10px;
}
.card-footer {
    padding-top: 20px;
}  
.amounts{
} 
.amounts-show{
    display: block !important;
}
.amounts-list{
    display: none;
}
.guess-card{
    display: inline-block;
    background: #e3f2fd;
    margin-bottom: 20px;
}
.alert.alert-success.alert-hint {
    background: #28a745;
    color: white;
}
.alert.alert-hint.alert-danger{
    background-color: #dc3545;
    color: white;
}
.alert.alert-hint.alert-light {
    background-color: #ffc107 !important;
    color: white;
    font-weight: 800;
}
.enter {
    margin-left: 10px;
}

@media (max-width: 420px) {
    .alert-hint {
        display: block;
    }
    
}
@media (max-width: 300px) {
    button.btn.btn-primary.enter {
        display: block;
        margin-top: 10px;
    }
}